openapi: 3.0.1
info:
  title: Alor OpenAPI V2
  description: ''
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: '1.0'
  termsOfService: 'https://storage.alorbroker.ru/upload/docs/%D0%9F%D1%80%D0%B0%D0%B2%D0%B8%D0%BB%D0%B0%20%D0%BF%D0%BB%D0%B0%D1%82%D1%84%D0%BE%D1%80%D0%BC%D1%8B.pdf'
  contact:
    email: openapi@alor.ru
servers:
  - url: https://apidev.alor.ru
    description: Тестовый контур
  - url: https://api.alor.ru
    description: Боевой контур
security:
  - bearerAuth: []
tags:
  - name: Authorization
    description: |
      В этой категории представлены запросы, позволяющие получать [авторизационные токены](https://alor.dev/docs/api/access/authorization/access-token/) для подтверждения прав доступа к другим ресурсам системы.

      Выполнение запросов данной категории рекомендуется автоматизировать в первую очередь, так как результаты их выполнения потребуются для всех остальных операций.
    x-displayName: Авторизация
  - name: ClientInfo
    description: |
      В этой категории представлены запросы, позволяющие получить информацию о клиенте: портфели, позиции, риски и так далее.

      Основная задача этих запросов — контроль состояния торгового аккаунта и его активов при ведении торгов.
    x-displayName: О клиенте
  - name: Instruments
    description: |
      В этой категории представлены запросы, позволяющие получить информацию о финансовых инструментах: полный список инструментов на бирже, их котировки и биржевые стаканы, история заключённых сделок и так далее.

      Основная задача этих запросов — предоставление биржевых данных, которые будут использоваться при планировании торговой стратегии и непосредственном проведении торгов.
    x-displayName: Об инструменте
  - name: Orders
    description: |
      В этой категории представлены запросы, позволяющие управлять рыночными и лимитными заявками. 
      
      Запросы на управление условными заявками находятся в категории [Стоп-заявки v2](https://alor.dev/docs/api/http/stop-orders-v-2)
    x-displayName: Биржевые заявки
  - name: StopOrdersV2
    description: |
      В этой категории представлены запросы, позволяющие управлять условными заявками (стоп-, стоп-лимит). 
      
      Запросы на управление рыночными и лимитными заявками находятся в категории [Биржевые заявки](https://alor.dev/docs/api/http/orders)
    x-displayName: Условные заявки
  - name: OrderGroups
    description: |
      В этой категории представлены запросы, позволяющие управлять группами заявок.

      Обратите внимание, что группы заявок создаются на основе заранее выставленных [биржевых](https://alor.dev/docs/api/http/orders) и [условных](https://alor.dev/docs/api/http/stop-orders-v-2) заявок.
    x-displayName: Группы заявок
  - name: Other
    description: |
      В этой категории представлены запросы, не подпадающие ни под одну из прочих представленных категорий.
    x-displayName: Другое
  - name: Deprecated
    description: |
      В этой категории представлены запросы, утратившие свою актуальность.

      Описание запросов, входящих в эту категорию, может содержать неточности и параметры, выведенные из эксплуатации.

      Не рекомендуется использовать запросы из этой категории, так как в ответ на них система может возвращать некорректные данные или не возвращать ничего вовсе.

      Рекомендуем обратить внимание на другие категории и подобрать подходящие запросы из списка актуальных.
    x-displayName: Устаревшее
paths:
  /refresh:
    post:
      summary: JWT token
      tags:
        - Authorization
      servers:
        - url: https://oauthdev.alor.ru
          description: Тестовый контур
        - url: https://oauth.alor.ru
          description: Боевой контур
      description: |
        Запрос на создание JWT токена, использующегося в качестве токена доступа при авторизации запросов к остальным ресурсам API.

        Для создания JWT токена используется создаваемый в кабинете разработчика Refresh токен. При этом:
        * Передать его серверу можно как в пути (как `Query`), так и в теле запроса (как `Body`);
        * При одновременном заполнении `Query` и `Body` приоритет отдаётся телу запроса;
        * Комбинировать `Query` и `Body` в одном запросе нельзя

        Подробнее об особенностях авторизации можно прочесть в [соответствующем разделе](https://alor.dev/docs/api/access/authorization/overview/).

        В описании запроса по умолчанию используется адрес тестового контура системы. Это сделано для защиты пользователей от случайного выполнения операций с настоящими данными. Учитывайте это при выполнении запросов и копировании образцов кода.

        Сменить контур на странице описания запроса можно в окне **Request**. Узнать подробнее о контурах можно в [соответствующей статье](https://alor.dev/docs/api/access/environments).

      requestBody:
        $ref: '#/components/requestBodies/RefreshAccessToken'
      parameters:
        - $ref: '#/components/parameters/query_Token_Optional'
        - $ref: '#/components/parameters/query_AllowedPortfolios_Optional'
      responses:
        '200':
          description: 'Запрос успешно обработан'
          content:
            application/json:
              schema:
                type: string
                description: |
                  JWT сгенерирован
              examples:
                Пример JWT:
                  value:
                    AccessToken: eyJhbGciOiJ...
        '403':
          description: Не удалось сгенерировать JWT. Refresh token задан некорректно или его срок действия истёк
      security: []
  ## MARKET DATA --------------------------------------------------------
  /md/v2/Clients/{exchange}/{portfolio}/orders:
    get:
      tags:
        - ClientInfo
        - Orders
      summary: 'Все биржевые заявки'
      description: |
        Запрос возвращает информацию обо всех заявках для указанного `portfolio`, созданных на заданной в параметре `exchange` бирже.

        Запрос нельзя выполнить анонимно. Обязательный параметр `token` должен содержать актуальный [**Access токен**](https://alor.dev/docs/api/access/authorization/access-token/).

        В описании запроса по умолчанию используется адрес тестового контура системы. Это сделано для защиты пользователей от случайного выполнения операций с настоящими данными. Учитывайте это при выполнении запросов и копировании образцов кода.

        Сменить контур на странице описания запроса можно в окне **Request**. Узнать подробнее о контурах можно в [соответствующей статье](https://alor.dev/docs/api/access/environments).

        Для этой операции есть альтернатива в виде [WebSocket-подписки](https://alor.dev/docs/api/websocket/data-subscriptions/OrdersGetAndSubscribe).

      operationId: MdV2ClientsExchangePortfolioOrdersGet
      parameters:
        - $ref: '#/components/parameters/path_Exchange_All'
        - $ref: '#/components/parameters/path_Portfolio_FOND'
        - $ref: '#/components/parameters/query_Format_Optional'
        - $ref: '#/components/parameters/query_JsonResponse_Optional'
      responses:
        '200':
          $ref: '#/components/responses/200_Orders'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
      deprecated: false
  /md/v2/Clients/{exchange}/{portfolio}/orders/{orderId}:
    get:
      tags:
        - ClientInfo
        - Orders
      summary: 'Выбранная биржевая заявка'
      description: |
        Запрос возвращает информацию об определённой биржевой заявке, номер которой указан в параметре `orderId`.

        Запрос нельзя выполнить анонимно. Обязательный параметр `token` должен содержать актуальный [**Access токен**](https://alor.dev/docs/api/access/authorization/access-token/).

        В описании запроса по умолчанию используется адрес тестового контура системы. Это сделано для защиты пользователей от случайного выполнения операций с настоящими данными. Учитывайте это при выполнении запросов и копировании образцов кода.

        Сменить контур на странице описания запроса можно в окне **Request**. Узнать подробнее о контурах можно в [соответствующей статье](https://alor.dev/docs/api/access/environments).

        Для этой операции есть альтернатива в виде [WebSocket-подписки](https://alor.dev/docs/api/websocket/data-subscriptions/OrdersGetAndSubscribe).

      operationId: MdV2ClientsExchangePortfolioOrdersOrderIdGet
      parameters:
        - $ref: '#/components/parameters/path_Exchange_All'
        - $ref: '#/components/parameters/path_Portfolio_FOND'
        - $ref: '#/components/parameters/path_OrderId'
        - $ref: '#/components/parameters/query_Format_Optional'
        - $ref: '#/components/parameters/query_JsonResponse_Optional'
      responses:
        '200':
          $ref: '#/components/responses/200_Order'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
      deprecated: false
  /md/v2/Clients/{exchange}/{portfolio}/stoporders:
    get:
      tags:
        - ClientInfo
        - StopOrdersV2
      summary: 'Все условные заявки'
      description: |
        Запрос возвращает информацию обо всех стоп-заявках с участием указанного портфеля.

        Запрос нельзя выполнить анонимно. Обязательный параметр `token` должен содержать актуальный [**Access токен**](https://alor.dev/docs/api/access/authorization/access-token/).

        В описании запроса по умолчанию используется адрес тестового контура системы. Это сделано для защиты пользователей от случайного выполнения операций с настоящими данными. Учитывайте это при выполнении запросов и копировании образцов кода.

        Сменить контур на странице описания запроса можно в окне **Request**. Узнать подробнее о контурах можно в [соответствующей статье](https://alor.dev/docs/api/access/environments).

        Для этой операции есть альтернатива в виде [WebSocket-подписки](https://alor.dev/docs/api/websocket/data-subscriptions/StopOrdersGetAndSubscribeV2).

      operationId: MdV2ClientsExchangePortfolioStopOrdersGet
      parameters:
        - $ref: '#/components/parameters/path_Exchange_All'
        - $ref: '#/components/parameters/path_Portfolio_FOND'
        - $ref: '#/components/parameters/query_Format_Optional'
        - $ref: '#/components/parameters/query_JsonResponse_Optional'
      responses:
        '200':
          $ref: '#/components/responses/200_StopOrders_Warp'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
      deprecated: false
  /md/v2/Clients/{exchange}/{portfolio}/stoporders/{orderId}:
    get:
      tags:
        - ClientInfo
        - StopOrdersV2
      summary: 'Выбранная условная заявка'
      description: |
        Запрос возвращает информацию об определённой стоп-заявке, номер которой указан в параметре `orderId`.

        Запрос нельзя выполнить анонимно. Обязательный параметр `token` должен содержать актуальный [**Access токен**](https://alor.dev/docs/api/access/authorization/access-token/).

        В описании запроса по умолчанию используется адрес тестового контура системы. Это сделано для защиты пользователей от случайного выполнения операций с настоящими данными. Учитывайте это при выполнении запросов и копировании образцов кода.

        Сменить контур на странице описания запроса можно в окне **Request**. Узнать подробнее о контурах можно в [соответствующей статье](https://alor.dev/docs/api/access/environments).

        Для этой операции есть альтернатива в виде [WebSocket-подписки](https://alor.dev/docs/api/websocket/data-subscriptions/StopOrdersGetAndSubscribeV2).

      operationId: MdV2ClientsExchangePortfolioStopOrdersOrderIdGet
      parameters:
        - $ref: '#/components/parameters/path_Exchange_All'
        - $ref: '#/components/parameters/path_Portfolio_FOND'
        - $ref: '#/components/parameters/path_OrderId'
        - $ref: '#/components/parameters/query_Format_Optional'
        - $ref: '#/components/parameters/query_JsonResponse_Optional'
      responses:
        '200':
          $ref: '#/components/responses/200_StopOrder_Warp'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      deprecated: false
  /md/v2/Clients/legacy/{exchange}/{portfolio}/money:
    get:
      tags:
        - Deprecated
      summary: 'Деньги выбранного портфеля'
      description: |
        Запрос информации о позиции по деньгам. Вызов существует для обратной совместимости с API v1, предпочтительно использовать другие вызовы (/summary, /risk, /positions)
      operationId: ExchangePortfolioMoney
      parameters:
        - $ref: '#/components/parameters/path_Exchange_All'
        - $ref: '#/components/parameters/path_Portfolio_FOND'
        - $ref: '#/components/parameters/query_Format_Optional'
      responses:
        '200':
          $ref: '#/components/responses/200_Money'
        '403':
          $ref: '#/components/responses/403'
      deprecated: true
  /md/v2/Clients/{exchange}/{portfolio}/summary:
    get:
      tags:
        - ClientInfo
      summary: 'Сводная информация о портфеле'
      description: |
        Запрос возвращает сводную информацию об указанном портфеле.

        Запрос нельзя выполнить анонимно. Обязательный параметр `token` должен содержать актуальный [**Access токен**](https://alor.dev/docs/api/access/authorization/access-token/).

        В описании запроса по умолчанию используется адрес тестового контура системы. Это сделано для защиты пользователей от случайного выполнения операций с настоящими данными. Учитывайте это при выполнении запросов и копировании образцов кода.

        Сменить контур на странице описания запроса можно в окне **Request**. Узнать подробнее о контурах можно в [соответствующей статье](https://alor.dev/docs/api/access/environments).

        Для этой операции есть альтернатива в виде [WebSocket-подписки](https://alor.dev/docs/api/websocket/data-subscriptions/SummariesGetAndSubscribeV2).

      operationId: MdV2ClientsExchangePortfolioSummaryGet
      parameters:
        - $ref: '#/components/parameters/path_Exchange_All'
        - $ref: '#/components/parameters/path_Portfolio_FOND'
        - $ref: '#/components/parameters/query_Format_Optional'
        - $ref: '#/components/parameters/query_JsonResponse_Optional'
      responses:
        '200':
          $ref: '#/components/responses/200_Summary'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
      deprecated: false
  /md/v2/Clients/{exchange}/{portfolio}/positions:
    get:
      tags:
        - ClientInfo
      summary: 'Позиции в портфеле (Все)'
      description: |
        Запрос возвращает информацию о наличии и свойствах позиций финансовых и валютных инструментов в указанном портфеле.

        Запрос нельзя выполнить анонимно. Обязательный параметр `token` должен содержать актуальный [**Access токен**](https://alor.dev/docs/api/access/authorization/access-token/).

        В описании запроса по умолчанию используется адрес тестового контура системы. Это сделано для защиты пользователей от случайного выполнения операций с настоящими данными. Учитывайте это при выполнении запросов и копировании образцов кода.

        Сменить контур на странице описания запроса можно в окне **Request**. Узнать подробнее о контурах можно в [соответствующей статье](https://alor.dev/docs/api/access/environments).

        Для этой операции есть альтернатива в виде [WebSocket-подписки](https://alor.dev/docs/api/websocket/data-subscriptions/PositionsGetAndSubscribe).

      operationId: MdV2ClientsExchangePortfolioPositionsGet
      parameters:
        - $ref: '#/components/parameters/path_Exchange_All'
        - $ref: '#/components/parameters/path_Portfolio_FOND'
        - $ref: '#/components/parameters/query_Format_Optional'
        - $ref: '#/components/parameters/query_WithoutCurrency_Optional'
        - $ref: '#/components/parameters/query_JsonResponse_Optional'
      responses:
        '200':
          $ref: '#/components/responses/200_Positions'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
      deprecated: false
  /md/v2/Clients/{exchange}/{portfolio}/positions/{symbol}:
    get:
      tags:
        - ClientInfo
      summary: 'Позиции в портфеле (По инструменту)'
      description: |
        Запрос возвращает информацию обо всех открытых позициях выбранного инструмента в указанном портфеле.

        Запрос нельзя выполнить анонимно. Обязательный параметр `token` должен содержать актуальный [**Access токен**](https://alor.dev/docs/api/access/authorization/access-token/).

        В описании запроса по умолчанию используется адрес тестового контура системы. Это сделано для защиты пользователей от случайного выполнения операций с настоящими данными. Учитывайте это при выполнении запросов и копировании образцов кода.

        Сменить контур на странице описания запроса можно в окне **Request**. Узнать подробнее о контурах можно в [соответствующей статье](https://alor.dev/docs/api/access/environments).

        Для этой операции есть альтернатива в виде [WebSocket-подписки](https://alor.dev/docs/api/websocket/data-subscriptions/PositionsGetAndSubscribe).

      operationId: MdV2ClientsExchangePortfolioPositionsSymbolGet
      parameters:
        - $ref: '#/components/parameters/path_Exchange_All'
        - $ref: '#/components/parameters/path_Portfolio_FOND'
        - $ref: '#/components/parameters/path_Symbol'
        - $ref: '#/components/parameters/query_Format_Optional'
        - $ref: '#/components/parameters/query_JsonResponse_Optional'
      responses:
        '200':
          $ref: '#/components/responses/200_Position'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      deprecated: false
  /md/v2/Clients/{exchange}/{portfolio}/trades:
    get:
      tags:
        - ClientInfo
      summary: 'Сделки по портфелю (Все | Текущая сессия)'
      description: |
        Запрос возвращает информацию обо всех сделках с участием указанного в `portfolio` портфеля за текущую торговую сессию.

        Временные рамки сессий зависят от выбранного рынка и могут различаться.

        Запрос нельзя выполнить анонимно. Обязательный параметр `token` должен содержать актуальный [**Access токен**](https://alor.dev/docs/api/access/authorization/access-token/).

        В описании запроса по умолчанию используется адрес тестового контура системы. Это сделано для защиты пользователей от случайного выполнения операций с настоящими данными. Учитывайте это при выполнении запросов и копировании образцов кода.

        Сменить контур на странице описания запроса можно в окне **Request**. Узнать подробнее о контурах можно в [соответствующей статье](https://alor.dev/docs/api/access/environments).

        Для этой операции есть альтернатива в виде [WebSocket-подписки](https://alor.dev/docs/api/websocket/data-subscriptions/AllTradesGetAndSubscribe).

      operationId: MdV2ClientsExchangePortfolioTradesGet
      parameters:
        - $ref: '#/components/parameters/path_Exchange_All'
        - $ref: '#/components/parameters/path_Portfolio_FOND'
        - $ref: '#/components/parameters/query_WithRepo_Optional'
        - $ref: '#/components/parameters/query_Format_Optional'
        - $ref: '#/components/parameters/query_JsonResponse_Optional'
      responses:
        '200':
          $ref: '#/components/responses/200_Trades_V2'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
      deprecated: false
  /md/v2/Clients/{exchange}/{portfolio}/{symbol}/trades:
    get:
      tags:
        - ClientInfo
      summary: 'Сделки по портфелю (Инструмент | Текущая сессия)'
      description: |
        Запрос возвращает информацию обо всех сделках с участием указанного в `portfolio` портфеля по указанному в `symbol` финансовому инструменту за текущую торговую сессию.

        Временные рамки сессий зависят от выбранного рынка и могут различаться.

        Запрос нельзя выполнить анонимно. Обязательный параметр `token` должен содержать актуальный [**Access токен**](https://alor.dev/docs/api/access/authorization/access-token/).

        В описании запроса по умолчанию используется адрес тестового контура системы. Это сделано для защиты пользователей от случайного выполнения операций с настоящими данными. Учитывайте это при выполнении запросов и копировании образцов кода.

        Сменить контур на странице описания запроса можно в окне **Request**. Узнать подробнее о контурах можно в [соответствующей статье](https://alor.dev/docs/api/access/environments).

        Для этой операции есть альтернатива в виде [WebSocket-подписки](https://alor.dev/docs/api/websocket/data-subscriptions/AllTradesGetAndSubscribe).

      operationId: MdV2ClientsExchangePortfolioSymbolTradesGet
      parameters:
        - $ref: '#/components/parameters/path_Exchange_All'
        - $ref: '#/components/parameters/path_Portfolio_FOND'
        - $ref: '#/components/parameters/path_Symbol'
        - $ref: '#/components/parameters/query_InstrumentGroup_Optional'
        - $ref: '#/components/parameters/query_Format_Optional'
        - $ref: '#/components/parameters/query_JsonResponse_Optional'
      responses:
        '200':
          $ref: '#/components/responses/200_Trades_V2'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
      deprecated: false
  /md/v2/Clients/{exchange}/{portfolio}/fortsrisk:
    get:
      tags:
        - ClientInfo
      summary: 'Риски на срочном рынке'
      description: |
        Запрос возвращает информацию по рискам срочного рынка (FORTS) для указанного портфеля.

        Запрос нельзя выполнить анонимно. Обязательный параметр `token` должен содержать актуальный [**Access токен**](https://alor.dev/docs/api/access/authorization/access-token/).

        В описании запроса по умолчанию используется адрес тестового контура системы. Это сделано для защиты пользователей от случайного выполнения операций с настоящими данными. Учитывайте это при выполнении запросов и копировании образцов кода.

        Сменить контур на странице описания запроса можно в окне **Request**. Узнать подробнее о контурах можно в [соответствующей статье](https://alor.dev/docs/api/access/environments).

        Для этой операции есть альтернатива в виде [WebSocket-подписки](https://alor.dev/docs/api/websocket/data-subscriptions/SpectraRisksGetAndSubscribe).

      operationId: MdV2ClientsExchangePortfolioFortsriskGet
      parameters:
        - $ref: '#/components/parameters/path_Exchange_MoexOnly'
        - $ref: '#/components/parameters/path_Portfolio_FORTS'
        - $ref: '#/components/parameters/query_Format_Optional'
        - $ref: '#/components/parameters/query_JsonResponse_Optional'
      responses:
        '200':
          $ref: '#/components/responses/200_FortsRisk'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
      deprecated: false
  /md/v2/Clients/{exchange}/{portfolio}/risk:
    get:
      tags:
        - ClientInfo
      summary: 'Все риски'
      description: |
        Запрос возвращает сводную информацию по портфельным рискам для указанного портфеля.

        Запрос нельзя выполнить анонимно. Обязательный параметр `token` должен содержать актуальный [**Access токен**](https://alor.dev/docs/api/access/authorization/access-token/).

        В описании запроса по умолчанию используется адрес тестового контура системы. Это сделано для защиты пользователей от случайного выполнения операций с настоящими данными. Учитывайте это при выполнении запросов и копировании образцов кода.

        Сменить контур на странице описания запроса можно в окне **Request**. Узнать подробнее о контурах можно в [соответствующей статье](https://alor.dev/docs/api/access/environments).

        Для этой операции есть альтернатива в виде [WebSocket-подписки](https://alor.dev/docs/api/websocket/data-subscriptions/RisksGetAndSubscribe).

      operationId: MdV2ClientsExchangePortfolioRiskGet
      parameters:
        - $ref: '#/components/parameters/path_Exchange_All'
        - $ref: '#/components/parameters/path_Portfolio_FOND'
        - $ref: '#/components/parameters/query_Format_Optional'
        - $ref: '#/components/parameters/query_JsonResponse_Optional'
      responses:
        '200':
          $ref: '#/components/responses/200_Risk'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
      deprecated: false
  /md/v2/Clients/{login}/positions:
    get:
      tags:
        - ClientInfo
      summary: 'Все позиции для выбранного логина'
      description: |
        Запрос возвращает информацию обо всех позициях во всех портфелях указанного в параметре `login` торгового аккаунта.

        Запрос нельзя выполнить анонимно. Обязательный параметр `token` должен содержать актуальный [**Access токен**](https://alor.dev/docs/api/access/authorization/access-token/).

        В описании запроса по умолчанию используется адрес тестового контура системы. Это сделано для защиты пользователей от случайного выполнения операций с настоящими данными. Учитывайте это при выполнении запросов и копировании образцов кода.

        Сменить контур на странице описания запроса можно в окне **Request**. Узнать подробнее о контурах можно в [соответствующей статье](https://alor.dev/docs/api/access/environments).

      operationId: MdV2ClientsLoginPositionsGet
      parameters:
        - $ref: '#/components/parameters/path_Login'
        - $ref: '#/components/parameters/query_Format_Optional'
        - $ref: '#/components/parameters/query_WithoutCurrency_Optional'
        - $ref: '#/components/parameters/query_JsonResponse_Optional'
      responses:
        '200':
          $ref: '#/components/responses/200_Positions'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
      deprecated: false
  /md/stats/{exchange}/{portfolio}/history/trades:
    get:
      tags:
        - Deprecated
      summary: 'Вся история сделок'
      description: |
        Запрос списка сделок за предыдущие дни (не более 1000 сделок за один запрос)

        Запрос нельзя выполнить анонимно. Обязательный параметр `token` должен содержать актуальный [**Access токен**](https://alor.dev/docs/api/access/authorization/access-token/).

        В описании запроса по умолчанию используется адрес тестового контура системы. Это сделано для защиты пользователей от случайного выполнения операций с настоящими данными. Учитывайте это при выполнении запросов и копировании образцов кода.

        Сменить контур на странице описания запроса можно в окне **Request**. Узнать подробнее о контурах можно в [соответствующей статье](https://alor.dev/docs/api/access/environments).

        При использовании единой денежной позиции параметр `orderByTradeDate` должен быть `true` для корректной сортировки результатов. Сделки, относящиеся к разным рынкам, могут иметь разную длину идентификатора, в связи с чем стандартная сортировка по ID может возвращать результаты в некорректной последовательности

      operationId: TradeStats
      parameters:
        - $ref: '#/components/parameters/path_Exchange_All'
        - $ref: '#/components/parameters/path_Portfolio_FOND'
        - $ref: '#/components/parameters/query_DateFrom_Optional'
        - $ref: '#/components/parameters/query_Ticker_Optional'
        - $ref: '#/components/parameters/query_Side_Optional'
        - $ref: '#/components/parameters/query_FromId_Optional'
        - $ref: '#/components/parameters/query_LimitMax1000_Optional'
        - $ref: '#/components/parameters/query_OrderByTradeDate_Optional'
        - $ref: '#/components/parameters/query_Descending_Optional'
        - $ref: '#/components/parameters/query_WithRepo_Optional'
        - $ref: '#/components/parameters/query_Format_Optional'
      responses:
        '200':
          $ref: '#/components/responses/200_Trades'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
      deprecated: true
  /md/stats/{exchange}/{portfolio}/history/trades/{symbol}:
    get:
      tags:
        - Deprecated
      summary: 'История сделок для выбранного инструмента'
      description: |
        Запрос списка сделок за предыдущие дни (не более 1000 сделок за один запрос) по одному инструменту.

        Запрос нельзя выполнить анонимно. Обязательный параметр `token` должен содержать актуальный [**Access токен**](https://alor.dev/docs/api/access/authorization/access-token/).

        В описании запроса по умолчанию используется адрес тестового контура системы. Это сделано для защиты пользователей от случайного выполнения операций с настоящими данными. Учитывайте это при выполнении запросов и копировании образцов кода.

        Сменить контур на странице описания запроса можно в окне **Request**. Узнать подробнее о контурах можно в [соответствующей статье](https://alor.dev/docs/api/access/environments).

        При использовании единой денежной позиции параметр `orderByTradeDate` должен быть `true` для корректной сортировки результатов. Сделки, относящиеся к разным рынкам, могут иметь разную длину идентификатора, в связи с чем стандартная сортировка по ID может возвращать результаты в некорректной последовательности

      operationId: TradeStatsBySymbol
      parameters:
        - $ref: '#/components/parameters/path_Exchange_All'
        - $ref: '#/components/parameters/path_Portfolio_FOND'
        - $ref: '#/components/parameters/path_Symbol'
        - $ref: '#/components/parameters/query_DateFrom_Optional'
        - $ref: '#/components/parameters/query_FromId_Optional'
        - $ref: '#/components/parameters/query_LimitMax1000_Optional'
        - $ref: '#/components/parameters/query_OrderByTradeDate_Optional'
        - $ref: '#/components/parameters/query_Descending_Optional'
        - $ref: '#/components/parameters/query_WithRepo_Optional'
        - $ref: '#/components/parameters/query_Format_Optional'
      responses:
        '200':
          $ref: '#/components/responses/200_Trades'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
      deprecated: true
  /md/v2/Stats/{exchange}/{portfolio}/history/trades:
    get:
      tags:
        - ClientInfo
      summary: 'Сделки по портфелю (Все | Прошлые сессии)'
      description: |
        Запрос возвращает информацию обо всех сделках с участием указанного в `portfolio` портфеля за прошлые торговые сессии.
        
        Информация за текущую торговую сессию в ответ не входит — для её получения используйте [соответствующий запрос](https://alor.dev/docs/api/http/md-v-2-clients-exchange-portfolio-trades-get).
        
        Временные рамки сессий зависят от выбранного рынка и могут различаться.
        
        За один запрос можно вернуть не более 1000 записей.

        Запрос нельзя выполнить анонимно. Обязательный параметр `token` должен содержать актуальный [**Access токен**](https://alor.dev/docs/api/access/authorization/access-token/).

        В описании запроса по умолчанию используется адрес тестового контура системы. Это сделано для защиты пользователей от случайного выполнения операций с настоящими данными. Учитывайте это при выполнении запросов и копировании образцов кода.

        Сменить контур на странице описания запроса можно в окне **Request**. Узнать подробнее о контурах можно в [соответствующей статье](https://alor.dev/docs/api/access/environments).

        При использовании единой денежной позиции параметр `orderByTradeDate` должен быть `true` для корректной сортировки результатов. Сделки, относящиеся к разным рынкам, могут иметь разную длину идентификатора, в связи с чем стандартная сортировка по ID может возвращать результаты в некорректной последовательности

        Для этой операции есть альтернатива в виде [WebSocket-подписки](https://alor.dev/docs/api/websocket/data-subscriptions/TradesGetAndSubscribe).

      operationId: MdV2StatsExchangePortfolioHistoryTradesGet
      parameters:
        - $ref: '#/components/parameters/path_Exchange_All'
        - $ref: '#/components/parameters/path_Portfolio_FOND'
        - $ref: '#/components/parameters/query_InstrumentGroup_Optional'
        - $ref: '#/components/parameters/query_DateFrom_Optional'
        - $ref: '#/components/parameters/query_Ticker_Optional'
        - $ref: '#/components/parameters/query_FromId_Optional'
        - $ref: '#/components/parameters/query_LimitMax1000_Optional'
        - $ref: '#/components/parameters/query_OrderByTradeDate_Optional'
        - $ref: '#/components/parameters/query_Descending_Optional'
        - $ref: '#/components/parameters/query_WithRepo_Optional'
        - $ref: '#/components/parameters/query_Side_Optional'
        - $ref: '#/components/parameters/query_Format_Optional'
        - $ref: '#/components/parameters/query_JsonResponse_Optional'
      responses:
        '200':
          $ref: '#/components/responses/200_Trades_V2'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
      deprecated: false
  /md/v2/Stats/{exchange}/{portfolio}/history/trades/{symbol}:
    get:
      tags:
        - ClientInfo
      summary: 'Сделки по портфелю (Инструмент | Прошлые сессии)'
      description: |
        Запрос возвращает информацию обо всех сделках с участием указанного в `portfolio` портфеля по указанному в `symbol` финансовому инструменту за прошлые торговые сессии.
        
        Информация за текущую торговую сессию в ответ не входит — для её получения используйте [соответствующий запрос](https://alor.dev/docs/api/http/md-v-2-clients-exchange-portfolio-symbol-trades-get).
        
        Временные рамки сессий зависят от выбранного рынка и могут различаться.

        За один запрос можно вернуть не более 1000 записей.

        Запрос нельзя выполнить анонимно. Обязательный параметр `token` должен содержать актуальный [**Access токен**](https://alor.dev/docs/api/access/authorization/access-token/).

        В описании запроса по умолчанию используется адрес тестового контура системы. Это сделано для защиты пользователей от случайного выполнения операций с настоящими данными. Учитывайте это при выполнении запросов и копировании образцов кода.

        Сменить контур на странице описания запроса можно в окне **Request**. Узнать подробнее о контурах можно в [соответствующей статье](https://alor.dev/docs/api/access/environments).

        При использовании единой денежной позиции параметр `orderByTradeDate` должен быть `true` для корректной сортировки результатов. Сделки, относящиеся к разным рынкам, могут иметь разную длину идентификатора, в связи с чем стандартная сортировка по ID может возвращать результаты в некорректной последовательности

        Для этой операции есть альтернатива в виде [WebSocket-подписки](https://alor.dev/docs/api/websocket/data-subscriptions/AllTradesGetAndSubscribe).

      operationId: MdV2StatsExchangePortfolioHistoryTradesSymbolGet
      parameters:
        - $ref: '#/components/parameters/path_Exchange_All'
        - $ref: '#/components/parameters/path_Portfolio_FOND'
        - $ref: '#/components/parameters/path_Symbol'
        - $ref: '#/components/parameters/query_InstrumentGroup_Optional'
        - $ref: '#/components/parameters/query_DateFrom_Optional'
        - $ref: '#/components/parameters/query_FromId_Optional'
        - $ref: '#/components/parameters/query_LimitMax1000_Optional'
        - $ref: '#/components/parameters/query_OrderByTradeDate_Optional'
        - $ref: '#/components/parameters/query_Descending_Optional'
        - $ref: '#/components/parameters/query_WithRepo_Optional'
        - $ref: '#/components/parameters/query_Side_Optional'
        - $ref: '#/components/parameters/query_Format_Optional'
        - $ref: '#/components/parameters/query_JsonResponse_Optional'
      responses:
        '200':
          $ref: '#/components/responses/200_Trades_V2'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
      deprecated: false
  /md/v2/Securities:
    get:
      tags:
        - Instruments
      summary: 'Все торговые инструменты'
      description: |
        Запрос возвращает информацию о соответствующих запросу торговых инструментах на всех биржах. Объекты в ответе сортируются по объёму торгов в очерёдности "Сначала объёмные". 
        
        Если не указано иное значение параметра `limit`, в ответе возвращается только 25 объектов за раз

        Запрос может быть выполнен без авторизации. При отправке анонимного запроса вернутся данные, бывшие актуальными 15 минут назад.

      operationId: MdV2SecuritiesGet
      parameters:
        - $ref: '#/components/parameters/query_TickerNamedQuery_Optional'
        - $ref: '#/components/parameters/query_LimitDefault25_Optional'
        - $ref: '#/components/parameters/query_Offset_Optional'
        - $ref: '#/components/parameters/query_Sector_Optional'
        - $ref: '#/components/parameters/query_CfiCode_Optional'
        - $ref: '#/components/parameters/query_Exchange_All_Optional'
        - $ref: '#/components/parameters/query_InstrumentGroup_Optional'
        - $ref: '#/components/parameters/query_IncludeNonBaseBoards_Optional'
        - $ref: '#/components/parameters/query_Format_Optional'
      responses:
        '200':
          $ref: '#/components/responses/200_Securities'
      deprecated: false
  /md/v2/Securities/{exchange}:
    get:
      tags:
        - Instruments
      summary: 'Все торговые инструменты выбранной биржи'
      description: |
        Запрос возвращает информацию о соответствующих запросу торговых инструментах на выбранной бирже. Объекты в ответе сортируются по объёму торгов в очерёдности "Сначала объёмные".
        
        Если не указано иное значение параметра `limit`, в ответе возвращаются все соответствующие параметрам запроса инструменты

        Запрос нельзя выполнить анонимно. Обязательный параметр `token` должен содержать актуальный [**Access токен**](https://alor.dev/docs/api/access/authorization/access-token/).

        В описании запроса по умолчанию используется адрес тестового контура системы. Это сделано для защиты пользователей от случайного выполнения операций с настоящими данными. Учитывайте это при выполнении запросов и копировании образцов кода.

        Сменить контур на странице описания запроса можно в окне **Request**. Узнать подробнее о контурах можно в [соответствующей статье](https://alor.dev/docs/api/access/environments).

      operationId: MdV2SecuritiesExchangeGet
      parameters:
        - $ref: '#/components/parameters/path_Exchange_All'
        - $ref: '#/components/parameters/query_Format_Optional'
        - $ref: '#/components/parameters/query_Market_Optional'
        - $ref: '#/components/parameters/query_IncludeOld_Optional'
        - $ref: '#/components/parameters/query_Limit_Optional'
        - $ref: '#/components/parameters/query_IncludeNonBaseBoards_Optional'
        - $ref: '#/components/parameters/query_Offset_Optional'
      responses:
        '200':
          $ref: '#/components/responses/200_Securities'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
      deprecated: false
  /md/v2/Securities/{exchange}/{symbol}:
    get:
      tags:
        - Instruments
      summary: 'Выбранный торговый инструмент'
      description: |
        Запрос возвращает полную информацию об указанном финансовом инструменте на выбранной бирже

        Запрос нельзя выполнить анонимно. Обязательный параметр `token` должен содержать актуальный [**Access токен**](https://alor.dev/docs/api/access/authorization/access-token/).

        В описании запроса по умолчанию используется адрес тестового контура системы. Это сделано для защиты пользователей от случайного выполнения операций с настоящими данными. Учитывайте это при выполнении запросов и копировании образцов кода.

        Сменить контур на странице описания запроса можно в окне **Request**. Узнать подробнее о контурах можно в [соответствующей статье](https://alor.dev/docs/api/access/environments).

        Для этой операции есть альтернатива в виде [WebSocket-подписки](https://alor.dev/docs/api/websocket/data-subscriptions/InstrumentsGetAndSubscribeV2).

      operationId: MdV2SecuritiesExchangeSymbolGet
      parameters:
        - $ref: '#/components/parameters/path_Exchange_All'
        - $ref: '#/components/parameters/path_Symbol'
        - $ref: '#/components/parameters/query_InstrumentGroup_Optional'
        - $ref: '#/components/parameters/query_Format_Optional'
        - $ref: '#/components/parameters/query_JsonResponse_Optional'
      responses:
        '200':
          $ref: '#/components/responses/200_Security'
        '400':
          $ref: '#/components/responses/400_Get'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
      deprecated: false
  /md/v2/Securities/{exchange}/{symbol}/availableBoards:
    get:
      tags:
        - Instruments
      summary: 'Режимы торгов (борды) выбранного инструмента'
      description: |
        Запрос возвращает список всех кодов режимов торгов, в которых представлен выбранный финансовый инструмент

        Запрос нельзя выполнить анонимно. Обязательный параметр `token` должен содержать актуальный [**Access токен**](https://alor.dev/docs/api/access/authorization/access-token/).

        В описании запроса по умолчанию используется адрес тестового контура системы. Это сделано для защиты пользователей от случайного выполнения операций с настоящими данными. Учитывайте это при выполнении запросов и копировании образцов кода.

        Сменить контур на странице описания запроса можно в окне **Request**. Узнать подробнее о контурах можно в [соответствующей статье](https://alor.dev/docs/api/access/environments).

      operationId: MdV2SecuritiesExchangeSymbolAvailableBoardsGet
      parameters:
        - $ref: '#/components/parameters/path_Exchange_All'
        - $ref: '#/components/parameters/path_Symbol'
        - $ref: '#/components/parameters/query_JsonResponse_Optional'
      responses:
        '200':
          $ref: '#/components/responses/200_AvailableBoards'
        '400':
          $ref: '#/components/responses/400_Get'
        '404':
          $ref: '#/components/responses/404'
      deprecated: false
  /md/v2/Securities/{exchange}/{symbol}/alltrades:
    get:
      tags:
        - Instruments
        #- Warp.API.HTTP.Marketdata
      summary: 'Сделки по инструменту (Текущая сессия)'
      description: |
        Запрос возвращает обезличенную информацию обо всех сделках с участием указанного в `symbol` инструмента, совершённых всеми участниками торгов за текущую торговую сессию.

        Временные рамки сессий зависят от выбранного рынка и могут различаться.

        Запрос нельзя выполнить анонимно. Обязательный параметр `token` должен содержать актуальный [**Access токен**](https://alor.dev/docs/api/access/authorization/access-token/).

        В описании запроса по умолчанию используется адрес тестового контура системы. Это сделано для защиты пользователей от случайного выполнения операций с настоящими данными. Учитывайте это при выполнении запросов и копировании образцов кода.

        Сменить контур на странице описания запроса можно в окне **Request**. Узнать подробнее о контурах можно в [соответствующей статье](https://alor.dev/docs/api/access/environments).

        Для этой операции есть альтернатива в виде [WebSocket-подписки](https://alor.dev/docs/api/websocket/data-subscriptions/AllTradesGetAndSubscribe).

      operationId: MdV2SecuritiesExchangeSymbolAlltradesGet
      parameters:
        - $ref: '#/components/parameters/path_Exchange_All'
        - $ref: '#/components/parameters/path_Symbol'
        - $ref: '#/components/parameters/query_InstrumentGroup_Optional'
        - $ref: '#/components/parameters/query_Format_Optional'
        - $ref: '#/components/parameters/query_JsonResponse_Optional'
        - $ref: '#/components/parameters/query_DateFromSec_Optional'
        - $ref: '#/components/parameters/query_DateToSec_Optional'
        - $ref: '#/components/parameters/query_FromIdAllTrades_Optional'
        - $ref: '#/components/parameters/query_ToId_Optional'
        - $ref: '#/components/parameters/query_QtyFrom_Optional'
        - $ref: '#/components/parameters/query_QtyTo_Optional'
        - $ref: '#/components/parameters/query_PriceFrom_Optional'
        - $ref: '#/components/parameters/query_PriceTo_Optional'
        - $ref: '#/components/parameters/query_Side_Optional'
        - $ref: '#/components/parameters/query_Offset_Optional'
        - $ref: '#/components/parameters/query_Take_Optional'
        - $ref: '#/components/parameters/query_Descending_Optional'
        - $ref: '#/components/parameters/query_IncludeVirtualTrades_Optional'
      responses:
        '200':
          $ref: '#/components/responses/200_AllTrades'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
      deprecated: false
  /md/v2/Securities/{exchange}/{symbol}/alltrades/history:
    get:
      tags:
        - Instruments
        #- Warp.API.HTTP.Marketdata
      summary: 'Сделки по инструменту (Прошлые сессии)'
      description: |
        Запрос возвращает обезличенную информацию обо всех сделках с участием указанного в `symbol` инструмента, совершённых всеми участниками торгов за прошлые торговые сессии.

        Информация за текущую торговую сессию в ответ не входит — для её получения используйте [соответствующий запрос](https://alor.dev/docs/api/http/md-v-2-securities-exchange-symbol-alltrades-get).
        
        Временные рамки сессий зависят от выбранного рынка и могут различаться.

        Запрос нельзя выполнить анонимно. Обязательный параметр `token` должен содержать актуальный [**Access токен**](https://alor.dev/docs/api/access/authorization/access-token/).

        В описании запроса по умолчанию используется адрес тестового контура системы. Это сделано для защиты пользователей от случайного выполнения операций с настоящими данными. Учитывайте это при выполнении запросов и копировании образцов кода.

        Сменить контур на странице описания запроса можно в окне **Request**. Узнать подробнее о контурах можно в [соответствующей статье](https://alor.dev/docs/api/access/environments).

        Для этой операции есть альтернатива в виде [WebSocket-подписки](https://alor.dev/docs/api/websocket/data-subscriptions/AllTradesGetAndSubscribe).

      operationId: MdV2SecuritiesExchangeSymbolAlltradesHistoryGet
      parameters:
        - $ref: '#/components/parameters/path_Exchange_All'
        - $ref: '#/components/parameters/path_Symbol'
        - $ref: '#/components/parameters/query_InstrumentGroup_Optional'
        - $ref: '#/components/parameters/query_DateFromSec_Optional'
        - $ref: '#/components/parameters/query_DateToSec_Optional'
        - $ref: '#/components/parameters/query_LimitMax50000_Required'
        - $ref: '#/components/parameters/query_Offset_Optional'
        - $ref: '#/components/parameters/query_Format_Optional'
        - $ref: '#/components/parameters/query_JsonResponse_Optional'
      responses:
        '200':
          $ref: '#/components/responses/200_AllTradesHistory'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
      deprecated: false
  /md/v2/Securities/{exchange}/{symbol}/actualFuturesQuote:
    get:
      tags:
        - Instruments
      summary: 'Котировки по ближайшему фьючерсу (код)'
      description: |
        Запрос возвращает информацию о текущем активном фьючерсе с ближайшей датой экспирации.

        Текущим активным считается фьючерс, чья дата экспирации ещё не настала и перед ним в очереди исполнения нет более ранних неисполненных фьючерсов.
        
        Для поиска используется его базовый код без даты погашения. Например, для поиска фьючерса `SI-x.xx` используется базовый код `SI`.

        Для получения котировок о прочих фьючерсах используйте запрос [Котировки для выбранных инструментов](https://alor.dev/docs/api/http/md-v-2-securities-symbols-quotes-get).

        Запрос нельзя выполнить анонимно. Обязательный параметр `token` должен содержать актуальный [**Access токен**](https://alor.dev/docs/api/access/authorization/access-token/).

        В описании запроса по умолчанию используется адрес тестового контура системы. Это сделано для защиты пользователей от случайного выполнения операций с настоящими данными. Учитывайте это при выполнении запросов и копировании образцов кода.

        Сменить контур на странице описания запроса можно в окне **Request**. Узнать подробнее о контурах можно в [соответствующей статье](https://alor.dev/docs/api/access/environments).

        Для этой операции есть альтернатива в виде [WebSocket-подписки](https://alor.dev/docs/api/websocket/data-subscriptions/QuotesSubscribe).

      operationId: MdV2SecuritiesExchangeSymbolActualFuturesQuoteGet
      parameters:
        - $ref: '#/components/parameters/path_Exchange_MoexOnly'
        - $ref: '#/components/parameters/path_Symbol'
        - $ref: '#/components/parameters/query_Format_Optional'
        - $ref: '#/components/parameters/query_JsonResponse_Optional'
      responses:
        '200':
          $ref: '#/components/responses/200_Futures'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
      deprecated: false
  /md/v2/Securities/{symbols}/quotes:
    get:
      tags:
        - Instruments
      summary: 'Котировки для выбранных инструментов'
      description: |
        Запрос возвращает информацию о котировках для выбранного финансового инструмента на указанной бирже

        Запрос может быть выполнен без авторизации. При отправке анонимного запроса вернутся данные, бывшие актуальными 15 минут назад.

        В описании запроса по умолчанию используется адрес тестового контура системы. Это сделано для защиты пользователей от случайного выполнения операций с настоящими данными. Учитывайте это при выполнении запросов и копировании образцов кода.

        Сменить контур на странице описания запроса можно в окне **Request**. Узнать подробнее о контурах можно в [соответствующей статье](https://alor.dev/docs/api/access/environments).

        Для этой операции есть альтернатива в виде [WebSocket-подписки](https://alor.dev/docs/api/websocket/data-subscriptions/QuotesSubscribe).

      operationId: MdV2SecuritiesSymbolsQuotesGet
      parameters:
        - $ref: '#/components/parameters/path_Symbols'
        - $ref: '#/components/parameters/query_Format_Optional'
      responses:
        '200':
          $ref: '#/components/responses/200_Symbols'
      deprecated: false
  /md/v2/Securities/currencyPairs:
    get:
      tags:
        - Instruments
      summary: 'Валютные пары'
      description: |
        Запрос возвращает список всех доступных валютных пар

        Запрос может быть выполнен без авторизации. При отправке анонимного запроса вернутся данные, бывшие актуальными 15 минут назад.

        В описании запроса по умолчанию используется адрес тестового контура системы. Это сделано для защиты пользователей от случайного выполнения операций с настоящими данными. Учитывайте это при выполнении запросов и копировании образцов кода.

        Сменить контур на странице описания запроса можно в окне **Request**. Узнать подробнее о контурах можно в [соответствующей статье](https://alor.dev/docs/api/access/environments).

      operationId: MdV2SecuritiesCurrencyPairsGet
      responses:
        '200':
          $ref: '#/components/responses/200_CurrencyPairs'
      deprecated: false
  /md/v2/orderbooks/{exchange}/{symbol}:
    get:
      tags:
        - Instruments
      summary: 'Биржевой стакан'
      description: |
        Запрос возвращает информацию о текущем количестве лотов и их цене в бидах и асках биржевого стакана для указанного финансового инструмента.

        Запрос нельзя выполнить анонимно. Обязательный параметр `token` должен содержать актуальный [**Access токен**](https://alor.dev/docs/api/access/authorization/access-token/).

        В описании запроса по умолчанию используется адрес тестового контура системы. Это сделано для защиты пользователей от случайного выполнения операций с настоящими данными. Учитывайте это при выполнении запросов и копировании образцов кода.

        Сменить контур на странице описания запроса можно в окне **Request**. Узнать подробнее о контурах можно в [соответствующей статье](https://alor.dev/docs/api/access/environments).

        Для этой операции есть альтернатива в виде [WebSocket-подписки](https://alor.dev/docs/api/websocket/data-subscriptions/OrderBookGetAndSubscribe).

      operationId: MdV2OrderbooksExchangeSymbolGet
      parameters:
        - $ref: '#/components/parameters/path_Exchange_All'
        - $ref: '#/components/parameters/path_Symbol'
        - $ref: '#/components/parameters/query_InstrumentGroup_Optional'
        - $ref: '#/components/parameters/query_Depth_Optional'
        - $ref: '#/components/parameters/query_Format_Optional'
      responses:
        '200':
          $ref: '#/components/responses/200_OrderBook'
        '401':
          $ref: '#/components/responses/401'
      deprecated: false
  /md/v2/time:
    get:
      tags:
        - Other
      summary: 'Текущее UTC время'
      description: |
        Запрос возвращает текущее значение UTC времени в формате Unix Time Seconds

        Запрос может быть выполнен без авторизации. При отправке анонимного запроса вернутся данные, бывшие актуальными 15 минут назад.

        В описании запроса по умолчанию используется адрес тестового контура системы. Это сделано для защиты пользователей от случайного выполнения операций с настоящими данными. Учитывайте это при выполнении запросов и копировании образцов кода.

        Сменить контур на странице описания запроса можно в окне **Request**. Узнать подробнее о контурах можно в [соответствующей статье](https://alor.dev/docs/api/access/environments).

      operationId: MdV2TimeGet
      responses:
        '200':
          $ref: '#/components/responses/200_Time'
      deprecated: false
  /md/v2/risk/rates:
    get:
      tags:
        - Instruments
      summary: 'Ставки риска'
      description: |
        Запрос возвращает текущие значения ставок риска для маржинальной торговли

        Запрос может быть выполнен без авторизации. При отправке анонимного запроса вернутся данные, бывшие актуальными 15 минут назад.

        В описании запроса по умолчанию используется адрес тестового контура системы. Это сделано для защиты пользователей от случайного выполнения операций с настоящими данными. Учитывайте это при выполнении запросов и копировании образцов кода.

        Сменить контур на странице описания запроса можно в окне **Request**. Узнать подробнее о контурах можно в [соответствующей статье](https://alor.dev/docs/api/access/environments).

      operationId: MdV2RiskRatesGet
      parameters:
        - $ref: '#/components/parameters/query_Exchange_All_Optional'
        - $ref: '#/components/parameters/query_Ticker_Optional'
        - $ref: '#/components/parameters/query_RiskCategoryId_Required'
        - $ref: '#/components/parameters/query_Search_Optional'
        - $ref: '#/components/parameters/query_Limit_Optional'
        - $ref: '#/components/parameters/query_Offset_Optional'
      responses:
        '200':
          $ref: '#/components/responses/200_RiskRates'
      deprecated: false
  /md/v2/history:
    get:
      tags:
        - Instruments
      summary: 'История рынка для выбранных биржи и инструмента'
      description: |
        Запрос возвращает исторические данные о состоянии рынка для выбранных биржи и финансового инструмента

        Запрос может быть выполнен без авторизации. При отправке анонимного запроса вернутся данные, бывшие актуальными 15 минут назад.

        В описании запроса по умолчанию используется адрес тестового контура системы. Это сделано для защиты пользователей от случайного выполнения операций с настоящими данными. Учитывайте это при выполнении запросов и копировании образцов кода.

        Сменить контур на странице описания запроса можно в окне **Request**. Узнать подробнее о контурах можно в [соответствующей статье](https://alor.dev/docs/api/access/environments).

        Для этой операции есть альтернатива в виде [WebSocket-подписки](https://alor.dev/docs/api/websocket/data-subscriptions/BarsGetAndSubscribe).

      operationId: MdV2HistoryGet
      parameters:
        - $ref: '#/components/parameters/query_Symbol_Required'
        - $ref: '#/components/parameters/query_Exchange_All_Required'
        - $ref: '#/components/parameters/query_InstrumentGroup_Optional'
        - $ref: '#/components/parameters/query_TimeFrame_Required'
        - $ref: '#/components/parameters/query_DateFromSec_Required'
        - $ref: '#/components/parameters/query_DateToSec_Required'
        - $ref: '#/components/parameters/query_CountBack_Optional'
        - $ref: '#/components/parameters/query_Untraded_Optional'
        - $ref: '#/components/parameters/query_SplitAdjust_Optional'
        - $ref: '#/components/parameters/query_Format_Optional'
        - $ref: '#/components/parameters/query_JsonResponse_Optional'
      responses:
        '200':
          $ref: '#/components/responses/200_History'
        '400':
          $ref: '#/components/responses/400_Get'
        '404':
          $ref: '#/components/responses/404'
      deprecated: false
  /md/status/{exchange}/{market}:
    get:
      tags:
        - Deprecated
      summary: 'Статус торгов'
      description: |
        Возвращает информацию о статусе торгов для указанного рынка на выбранной бирже

        Запрос может быть выполнен без авторизации. При отправке анонимного запроса вернутся данные, бывшие актуальными 15 минут назад.

        В описании запроса по умолчанию используется адрес тестового контура системы. Это сделано для защиты пользователей от случайного выполнения операций с настоящими данными. Учитывайте это при выполнении запросов и копировании образцов кода.

        Сменить контур на странице описания запроса можно в окне **Request**. Узнать подробнее о контурах можно в [соответствующей статье](https://alor.dev/docs/api/access/environments).

      operationId: DevTradingSessionStatus
      parameters:
        - $ref: '#/components/parameters/path_Exchange_All'
        - $ref: '#/components/parameters/path_Market'
        - $ref: '#/components/parameters/query_Format_Optional'
      responses:
        '200':
          $ref: '#/components/responses/200_TradingSession'
        '500':
          $ref: '#/components/responses/500'
      deprecated: true
  ## COMMAND API --------------------------------------------------------
  /commandapi/warptrans/TRADE/v2/client/orders/actions/market:
    post:
      tags:
        - Orders
      summary: 'Создать рыночную заявку'
      description: |
        Запрос создаёт от имени указанного портфеля [рыночную заявку](https://alor.dev/docs/api/usage/orders/market-orders) c указанными в теле сообщения характеристиками.

        Запрос нельзя выполнить анонимно. Обязательный параметр `token` должен содержать актуальный [**Access токен**](https://alor.dev/docs/api/access/authorization/access-token/).

        В описании запроса по умолчанию используется адрес тестового контура системы. Это сделано для защиты пользователей от случайного выполнения операций с настоящими данными. Учитывайте это при выполнении запросов и копировании образцов кода.

        Сменить контур на странице описания запроса можно в окне **Request**. Узнать подробнее о контурах можно в [соответствующей статье](https://alor.dev/docs/api/access/environments).

        Для этой операции есть альтернатива в виде [WebSocket-команды](https://alor.dev/docs/api/websocket/commands/CreateMarketOrder).

      operationId: CommandapiWarptransTradeV2ClientOrdersActionsMarketPost
      requestBody:
        $ref: '#/components/requestBodies/OrdersActionsMarketTV'
      parameters:
        - $ref: '#/components/parameters/header_X-REQID'
        - $ref: '#/components/parameters/header_X-ALOR-REQID'
      responses:
        '200':
          $ref: '#/components/responses/200_OrderActionLimitMarket_CommandAPI'
        '400':
          $ref: '#/components/responses/400_Post_Put'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      deprecated: false
  /commandapi/warptrans/TRADE/v2/client/orders/actions/limit:
    post:
      tags:
        - Orders
      summary: 'Создать лимитную заявку'
      description: |
        Запрос создаёт от имени указанного портфеля [лимитную заявку](https://alor.dev/docs/api/usage/orders/limit-orders) c указанными в теле сообщения характеристиками.

        Запрос нельзя выполнить анонимно. Обязательный параметр `token` должен содержать актуальный [**Access токен**](https://alor.dev/docs/api/access/authorization/access-token/).

        В описании запроса по умолчанию используется адрес тестового контура системы. Это сделано для защиты пользователей от случайного выполнения операций с настоящими данными. Учитывайте это при выполнении запросов и копировании образцов кода.

        Сменить контур на странице описания запроса можно в окне **Request**. Узнать подробнее о контурах можно в [соответствующей статье](https://alor.dev/docs/api/access/environments).

        Для этой операции есть альтернатива в виде [WebSocket-команды](https://alor.dev/docs/api/websocket/commands/CreateLimitOrder).

      operationId: CommandapiWarptransTradeV2ClientOrdersActionsLimitPost
      requestBody:
        $ref: '#/components/requestBodies/OrdersActionsLimitTVPost'
      parameters:
        - $ref: '#/components/parameters/header_X-REQID'
        - $ref: '#/components/parameters/header_X-ALOR-REQID'
      responses:
        '200':
          $ref: '#/components/responses/200_OrderActionLimitMarket_CommandAPI'
        '400':
          $ref: '#/components/responses/400_Post_Put'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      deprecated: false
  /warptrans/{tradeServerCode}/v2/client/orders/actions/stopLoss:
    post:
      tags:
        - Deprecated
        #-  "Warp.ATConnector"
      summary: 'Создать стоп-лосс заявку'
      description: |
        Запрос создаёт стоп-лосс заявку с указанными характеристиками.

        Запрос нельзя выполнить анонимно. Обязательный параметр `token` должен содержать актуальный [**Access токен**](https://alor.dev/docs/api/access/authorization/access-token/).

        В описании запроса по умолчанию используется адрес тестового контура системы. Это сделано для защиты пользователей от случайного выполнения операций с настоящими данными. Учитывайте это при выполнении запросов и копировании образцов кода.

        Сменить контур на странице описания запроса можно в окне **Request**. Узнать подробнее о контурах можно в [соответствующей статье](https://alor.dev/docs/api/access/environments).

      operationId: '/v2/client/orders/actions/stopLoss'
      requestBody:
        $ref: '#/components/requestBodies/OrdersActionsStop'
      parameters:
        - $ref: '#/components/parameters/header_X-REQID'
        - $ref: '#/components/parameters/header_X-ALOR-REQID'
        - $ref: '#/components/parameters/path_TradeServerCode'
      responses:
        '200':
          $ref: '#/components/responses/200_OrderActionStopProfitLoss'
        '400':
          $ref: '#/components/responses/400_Post_Put_Deprecated'
      deprecated: true
  /warptrans/{tradeServerCode}/v2/client/orders/actions/takeProfit:
    post:
      tags:
        - Deprecated
        #-  "Warp.ATConnector"
      summary: 'Создать стоп-заявку'
      description: |
        Запрос создаёт стоп-заявку с указанными характеристиками

        Запрос нельзя выполнить анонимно. Обязательный параметр `token` должен содержать актуальный [**Access токен**](https://alor.dev/docs/api/access/authorization/access-token/).

        В описании запроса по умолчанию используется адрес тестового контура системы. Это сделано для защиты пользователей от случайного выполнения операций с настоящими данными. Учитывайте это при выполнении запросов и копировании образцов кода.

        Сменить контур на странице описания запроса можно в окне **Request**. Узнать подробнее о контурах можно в [соответствующей статье](https://alor.dev/docs/api/access/environments).

      operationId: '/v2/client/orders/actions/takeProfit'
      requestBody:
        $ref: '#/components/requestBodies/OrdersActionsStop'
        # верно, тело совпадает со stop.
      parameters:
        - $ref: '#/components/parameters/header_X-REQID'
        - $ref: '#/components/parameters/header_X-ALOR-REQID'
        - $ref: '#/components/parameters/path_TradeServerCode'
      responses:
        '200':
          $ref: '#/components/responses/200_OrderActionStopProfitLoss'
        '400':
          $ref: '#/components/responses/400_Post_Put_Deprecated'
      deprecated: true
  /warptrans/{tradeServerCode}/v2/client/orders/actions/takeProfitLimit:
    post:
      tags:
        - Deprecated
        #-  "Warp.ATConvertor"
      summary: 'Создать стоп-лимит заявку'
      description: |
        Запрос создаёт стоп-лимит заявку с указанными характеристиками

        Запрос нельзя выполнить анонимно. Обязательный параметр `token` должен содержать актуальный [**Access токен**](https://alor.dev/docs/api/access/authorization/access-token/).

        В описании запроса по умолчанию используется адрес тестового контура системы. Это сделано для защиты пользователей от случайного выполнения операций с настоящими данными. Учитывайте это при выполнении запросов и копировании образцов кода.

        Сменить контур на странице описания запроса можно в окне **Request**. Узнать подробнее о контурах можно в [соответствующей статье](https://alor.dev/docs/api/access/environments).

      operationId: '/v2/client/orders/actions/takeProfitLimit'
      requestBody:
        $ref: '#/components/requestBodies/OrdersActionsStopLimit'
        #верно, тело совпадает с stoplimit
      parameters:
        - $ref: '#/components/parameters/header_X-REQID'
        - $ref: '#/components/parameters/header_X-ALOR-REQID'
        - $ref: '#/components/parameters/path_TradeServerCode'
      responses:
        '200':
          $ref: '#/components/responses/200_OrderActionStopProfitLoss'
        '400':
          $ref: '#/components/responses/400_Post_Put_Deprecated'
      deprecated: true
  /warptrans/{tradeServerCode}/v2/client/orders/actions/stopLossLimit:
    post:
      tags:
        - Deprecated
        #-  "Warp.ATConvertor"
      summary: 'Создать стоп-лосс лимит заявку'
      description: |
        Запрос создаёт стоп-лосс лимит заявку с указанными характеристиками

        Запрос нельзя выполнить анонимно. Обязательный параметр `token` должен содержать актуальный [**Access токен**](https://alor.dev/docs/api/access/authorization/access-token/).

        В описании запроса по умолчанию используется адрес тестового контура системы. Это сделано для защиты пользователей от случайного выполнения операций с настоящими данными. Учитывайте это при выполнении запросов и копировании образцов кода.

        Сменить контур на странице описания запроса можно в окне **Request**. Узнать подробнее о контурах можно в [соответствующей статье](https://alor.dev/docs/api/access/environments).

      operationId: /v2/client/orders/actions/stopLossLimit
      requestBody:
        $ref: '#/components/requestBodies/OrdersActionsStopLimit'
        #верно, тело совпадает с stoplimit
      parameters:
        - $ref: '#/components/parameters/header_X-REQID'
        - $ref: '#/components/parameters/header_X-ALOR-REQID'
        - $ref: '#/components/parameters/path_TradeServerCode'
      responses:
        '200':
          $ref: '#/components/responses/200_OrderActionStopProfitLoss'
        '400':
          $ref: '#/components/responses/400_Post_Put_Deprecated'
      deprecated: true
  /warptrans/{tradeServerCode}/v2/client/orders/actions/stopLoss/{orderId}:
    #не совпадают виды запросов(путь) в postman и в visualstudio
    #здесь описан путь в соответствии с кодом в visualstudio
    put:
      tags:
        - Deprecated
        #-  "Warp.ATConvertor"
      summary: 'Изменить стоп-лосс заявку'
      description: |
        Запрос изменяет характеристики ранее поданной стоп-лосс заявки с указанным номером

        Запрос нельзя выполнить анонимно. Обязательный параметр `token` должен содержать актуальный [**Access токен**](https://alor.dev/docs/api/access/authorization/access-token/).

        В описании запроса по умолчанию используется адрес тестового контура системы. Это сделано для защиты пользователей от случайного выполнения операций с настоящими данными. Учитывайте это при выполнении запросов и копировании образцов кода.

        Сменить контур на странице описания запроса можно в окне **Request**. Узнать подробнее о контурах можно в [соответствующей статье](https://alor.dev/docs/api/access/environments).

      operationId: '/v2/client/orders/actions/stopLoss/{orderId}'
      requestBody:
        $ref: '#/components/requestBodies/OrdersActionsStop'
        # верно, тело совпадает со stop.
      parameters:
        - $ref: '#/components/parameters/header_X-REQID'
        - $ref: '#/components/parameters/header_X-ALOR-REQID'
        - $ref: '#/components/parameters/path_TradeServerCode'
        - $ref: '#/components/parameters/path_OrderId'
      responses:
        '200':
          $ref: '#/components/responses/200_OrderActionStopProfitLoss'
        '400':
          $ref: '#/components/responses/400_Post_Put_Deprecated'
      deprecated: true
  /warptrans/{tradeServerCode}/v2/client/orders/actions/takeProfit/{orderId}:
    put:
      tags:
        - Deprecated
        #-  "Warp.ATConvertor"
      summary: 'Изменить стоп-заявку'
      description: |
        Запрос изменяет характеристики ранее поданной стоп-заявки с указанным номером

        Запрос нельзя выполнить анонимно. Обязательный параметр `token` должен содержать актуальный [**Access токен**](https://alor.dev/docs/api/access/authorization/access-token/).

        В описании запроса по умолчанию используется адрес тестового контура системы. Это сделано для защиты пользователей от случайного выполнения операций с настоящими данными. Учитывайте это при выполнении запросов и копировании образцов кода.

        Сменить контур на странице описания запроса можно в окне **Request**. Узнать подробнее о контурах можно в [соответствующей статье](https://alor.dev/docs/api/access/environments).

      operationId: '/v2/client/orders/actions/takeProfit/{orderId}'
      requestBody:
        $ref: '#/components/requestBodies/OrdersActionsStop'
        # верно, тело совпадает со stop.
      parameters:
        - $ref: '#/components/parameters/header_X-REQID'
        - $ref: '#/components/parameters/header_X-ALOR-REQID'
        - $ref: '#/components/parameters/path_TradeServerCode'
        - $ref: '#/components/parameters/path_OrderId'
      responses:
        '200':
          $ref: '#/components/responses/200_OrderActionStopProfitLoss'
        '400':
          $ref: '#/components/responses/400_Post_Put_Deprecated'
      deprecated: true
  /warptrans/{tradeServerCode}/v2/client/orders/actions/takeProfitLimit/{orderId}:
    put:
      tags:
        - Deprecated
        #-  "Warp.ATConvertor"
      summary: 'Изменить стоп-лимит заявку'
      description: |
        Запрос изменяет характеристики ранее поданной стоп-лимит заявки с указанным номером

        Запрос нельзя выполнить анонимно. Обязательный параметр `token` должен содержать актуальный [**Access токен**](https://alor.dev/docs/api/access/authorization/access-token/).

        В описании запроса по умолчанию используется адрес тестового контура системы. Это сделано для защиты пользователей от случайного выполнения операций с настоящими данными. Учитывайте это при выполнении запросов и копировании образцов кода.

        Сменить контур на странице описания запроса можно в окне **Request**. Узнать подробнее о контурах можно в [соответствующей статье](https://alor.dev/docs/api/access/environments).

      operationId: '/v2/client/orders/actions/takeProfitLimit/{orderId}'
      requestBody:
        $ref: '#/components/requestBodies/OrdersActionsStopLimit'
        #верно, тело совпадает с stoplimit
      parameters:
        - $ref: '#/components/parameters/header_X-REQID'
        - $ref: '#/components/parameters/header_X-ALOR-REQID'
        - $ref: '#/components/parameters/path_TradeServerCode'
        - $ref: '#/components/parameters/path_OrderId'
      responses:
        '200':
          $ref: '#/components/responses/200_OrderActionStopProfitLoss'
        '400':
          $ref: '#/components/responses/400_Post_Put_Deprecated'
      deprecated: true
  /warptrans/{tradeServerCode}/v2/client/orders/actions/stopLossLimit/{orderId}:
    put:
      tags:
        - Deprecated
        #-  "Warp.ATConvertor"
      summary: 'Изменить стоп-лосс лимит заявку'
      description: |
        Запрос изменяет характеристики ранее поданной стоп-лосс лимит заявки с указанным номером

        Запрос нельзя выполнить анонимно. Обязательный параметр `token` должен содержать актуальный [**Access токен**](https://alor.dev/docs/api/access/authorization/access-token/).

        В описании запроса по умолчанию используется адрес тестового контура системы. Это сделано для защиты пользователей от случайного выполнения операций с настоящими данными. Учитывайте это при выполнении запросов и копировании образцов кода.

        Сменить контур на странице описания запроса можно в окне **Request**. Узнать подробнее о контурах можно в [соответствующей статье](https://alor.dev/docs/api/access/environments).

      operationId: '/v2/client/orders/actions/stopLossLimit/{orderId}'
      #в коде stopLossLimit потерялся, зато есть два takeProfitLimit
      requestBody:
        $ref: '#/components/requestBodies/OrdersActionsStopLimit'
        #верно, тело совпадает с stoplimit
      parameters:
        - $ref: '#/components/parameters/header_X-REQID'
        - $ref: '#/components/parameters/header_X-ALOR-REQID'
        - $ref: '#/components/parameters/path_TradeServerCode'
        - $ref: '#/components/parameters/path_OrderId'
      responses:
        '200':
          $ref: '#/components/responses/200_OrderActionStopProfitLoss'
        '400':
          $ref: '#/components/responses/400_Post_Put_Deprecated'
      deprecated: true
  /commandapi/warptrans/TRADE/v2/client/orders/actions/market/{orderId}:
    put:
      tags:
        - Orders
      summary: 'Изменить рыночную заявку'
      description: |
        Запрос создаёт новую [рыночную заявку](https://alor.dev/docs/api/usage/orders/market-orders) с изменёнными характеристиками, автоматически отменив созданную ранее. Для определения отменяемой заявки используется её номер в параметре `orderid`.

        Запрос нельзя выполнить анонимно. Обязательный параметр `token` должен содержать актуальный [**Access токен**](https://alor.dev/docs/api/access/authorization/access-token/).

        В описании запроса по умолчанию используется адрес тестового контура системы. Это сделано для защиты пользователей от случайного выполнения операций с настоящими данными. Учитывайте это при выполнении запросов и копировании образцов кода.

        Сменить контур на странице описания запроса можно в окне **Request**. Узнать подробнее о контурах можно в [соответствующей статье](https://alor.dev/docs/api/access/environments).

        Для этой операции есть альтернатива в виде [WebSocket-команды](https://alor.dev/docs/api/websocket/commands/UpdateMarketOrder).

      operationId: CommandapiWarptransTradeV2ClientOrdersActionsMarketOrderIdPut
      requestBody:
        $ref: '#/components/requestBodies/OrdersActionsMarketTV'
      parameters:
        - $ref: '#/components/parameters/header_X-REQID'
        - $ref: '#/components/parameters/header_X-ALOR-REQID'
        - $ref: '#/components/parameters/path_OrderId'
      responses:
        '200':
          $ref: '#/components/responses/200_OrderActionLimitMarket'
        '400':
          $ref: '#/components/responses/400_Post_Put'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
      deprecated: false
  /commandapi/warptrans/TRADE/v2/client/orders/actions/limit/{orderId}:
    put:
      tags:
        - Orders
      summary: 'Изменить лимитную заявку'
      description: |
        Запрос создаёт новую [лимитную заявку](https://alor.dev/docs/api/usage/orders/limit-orders) с изменёнными характеристиками, автоматически отменив созданную ранее. Для определения отменяемой заявки используется её номер в параметре `orderid`.

        Запрос нельзя выполнить анонимно. Обязательный параметр `token` должен содержать актуальный [**Access токен**](https://alor.dev/docs/api/access/authorization/access-token/).

        В описании запроса по умолчанию используется адрес тестового контура системы. Это сделано для защиты пользователей от случайного выполнения операций с настоящими данными. Учитывайте это при выполнении запросов и копировании образцов кода.

        Сменить контур на странице описания запроса можно в окне **Request**. Узнать подробнее о контурах можно в [соответствующей статье](https://alor.dev/docs/api/access/environments).

        Из-за ограничения со стороны биржи параметры `side` и `symbol` не учитываются при изменении заявок, относящихся к срочному рынку. Ограничение не распространяется на первичное выставление заявок на срочном рынке и изменение заявок на прочих рынках.

        Для этой операции есть альтернатива в виде [WebSocket-команды](https://alor.dev/docs/api/websocket/commands/UpdateLimitOrder).

      operationId: CommandapiWarptransTradeV2ClientOrdersActionsLimitOrderIdPut
      requestBody:
        $ref: '#/components/requestBodies/OrdersActionsLimitTVPut'
      parameters:
        - $ref: '#/components/parameters/header_X-REQID'
        - $ref: '#/components/parameters/header_X-ALOR-REQID'
        - $ref: '#/components/parameters/path_OrderId'
      responses:
        '200':
          $ref: '#/components/responses/200_OrderActionLimitMarket'
        '400':
          $ref: '#/components/responses/400_Post_Put'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      deprecated: false
  /warptrans/{tradeServerCode}/v2/client/orders/{orderId}:
    #не совпадают виды запросов(путь) в postman и в visualstudio
    #здесь описан путь в соответствии с кодом в visualstudio
    delete:
      tags:
        - Deprecated
        #-  "Warp.ATConvertor"
      summary: 'Снять стоп-заявку'
      description: 'Снятие стоп-заявки с указанным идентификатором'
      operationId: '/v2/client/orders/actions/{orderId}'
      parameters:
        - $ref: '#/components/parameters/header_X-REQID'
        - $ref: '#/components/parameters/header_X-ALOR-REQID'
        - $ref: '#/components/parameters/path_TradeServerCode'
        - $ref: '#/components/parameters/path_OrderId'
        - $ref: '#/components/parameters/query_Portfolio_FOND_Required'
        - $ref: '#/components/parameters/query_Stop_Required'
      responses:
        '200':
          $ref: '#/components/responses/200_OrderAction_Delete'
        '400':
          $ref: '#/components/responses/400_Post_Put'
      deprecated: true
  /commandapi/warptrans/TRADE/v2/client/orders/estimate:
    post:
      tags:
        - Orders
      summary: 'Провести оценку одной заявки'
      description: |
        Запрос возвращает результаты оценки соотношения текущего состояния рынка с заданными возможной характеристиками потенциальной заявки

        Запрос нельзя выполнить анонимно. Обязательный параметр `token` должен содержать актуальный [**Access токен**](https://alor.dev/docs/api/access/authorization/access-token/).

        В описании запроса по умолчанию используется адрес тестового контура системы. Это сделано для защиты пользователей от случайного выполнения операций с настоящими данными. Учитывайте это при выполнении запросов и копировании образцов кода.

        Сменить контур на странице описания запроса можно в окне **Request**. Узнать подробнее о контурах можно в [соответствующей статье](https://alor.dev/docs/api/access/environments).

      operationId: CommandapiWarptransTradeV2ClientOrdersEstimatePost
      requestBody:
        $ref: '#/components/requestBodies/EstimateOrder'
      responses:
        '200':
          $ref: '#/components/responses/200_EstimateOrder'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
  /commandapi/warptrans/TRADE/v2/client/orders/estimate/all:
    post:
      tags:
        - Orders
      summary: 'Провести оценку нескольких заявок'
      description: |
        Запрос возвращает результаты оценки соотношения текущего состояния рынка с заданными возможными характеристиками нескольких потенциальных заявок

        Запрос нельзя выполнить анонимно. Обязательный параметр `token` должен содержать актуальный [**Access токен**](https://alor.dev/docs/api/access/authorization/access-token/).

        В описании запроса по умолчанию используется адрес тестового контура системы. Это сделано для защиты пользователей от случайного выполнения операций с настоящими данными. Учитывайте это при выполнении запросов и копировании образцов кода.

        Сменить контур на странице описания запроса можно в окне **Request**. Узнать подробнее о контурах можно в [соответствующей статье](https://alor.dev/docs/api/access/environments).

      operationId: CommandapiWarptransTradeV2ClientOrdersEstimateAllPost
      requestBody:
        $ref: '#/components/requestBodies/EstimateOrders'
      responses:
        '200':
          $ref: '#/components/responses/200_EstimateOrders'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
  /commandapi/warptrans/TRADE/v2/client/orders/actions/stopLimit:
    post:
      tags:
        - StopOrdersV2
      summary: 'Создать стоп-лимитную заявку'
      description: |
        Запрос создаёт от имени указанного портфеля [стоп-лимитную заявку](https://alor.dev/docs/api/usage/orders/stop-orders) c указанными в теле сообщения характеристиками.

        Запрос нельзя выполнить анонимно. Обязательный параметр `token` должен содержать актуальный [**Access токен**](https://alor.dev/docs/api/access/authorization/access-token/).

        В описании запроса по умолчанию используется адрес тестового контура системы. Это сделано для защиты пользователей от случайного выполнения операций с настоящими данными. Учитывайте это при выполнении запросов и копировании образцов кода.

        Сменить контур на странице описания запроса можно в окне **Request**. Узнать подробнее о контурах можно в [соответствующей статье](https://alor.dev/docs/api/access/environments).

        Условные заявки не требуют обеспечения, но выставляемые ими лимитные и рыночные заявки — требуют. Убедитесь, что на момент срабатывания условной заявки в портфеле будет достаточно средств для обеспечения выставляемой биржевой заявки с помощью [запроса на оценку заявки](https://alor.dev/docs/api/http/commandapi-warptrans-trade-v-2-client-orders-estimate-post).

        Для этой операции есть альтернатива в виде [WebSocket-команды](https://alor.dev/docs/api/websocket/commands/CreateStopLimitOrder).

      operationId: CommandapiWarptransTradeV2ClientOrdersActionsStopLimitPost
      requestBody:
        $ref: '#/components/requestBodies/OrdersActionsStopLimitTVWarpPost'
      parameters:
        - $ref: '#/components/parameters/header_X-REQID'
        - $ref: '#/components/parameters/header_X-ALOR-REQID'
      responses:
        '200':
          $ref: '#/components/responses/200_OrderActionLimitMarket_CommandAPI'
        '400':
          $ref: '#/components/responses/400_Post_Put'
        '401':
          $ref: '#/components/responses/401'
      deprecated: false
  /commandapi/warptrans/TRADE/v2/client/orders/actions/stop:
    post:
      tags:
        - StopOrdersV2
      summary: 'Создать стоп-заявку'
      description: |
        Запрос создаёт от имени указанного портфеля [стоп-заявку](https://alor.dev/docs/api/usage/orders/stop-orders) c указанными в теле сообщения характеристиками.

        Запрос нельзя выполнить анонимно. Обязательный параметр `token` должен содержать актуальный [**Access токен**](https://alor.dev/docs/api/access/authorization/access-token/).

        В описании запроса по умолчанию используется адрес тестового контура системы. Это сделано для защиты пользователей от случайного выполнения операций с настоящими данными. Учитывайте это при выполнении запросов и копировании образцов кода.

        Сменить контур на странице описания запроса можно в окне **Request**. Узнать подробнее о контурах можно в [соответствующей статье](https://alor.dev/docs/api/access/environments).

        Условные заявки не требуют обеспечения, но выставляемые ими лимитные и рыночные заявки — требуют. Убедитесь, что на момент срабатывания условной заявки в портфеле будет достаточно средств для обеспечения выставляемой биржевой заявки с помощью [запроса на оценку заявки](https://alor.dev/docs/api/http/commandapi-warptrans-trade-v-2-client-orders-estimate-post).

        Для этой операции есть альтернатива в виде [WebSocket-команды](https://alor.dev/docs/api/websocket/commands/CreateStopOrder).

      operationId: CommandapiWarptransTradeV2ClientOrdersActionsStopPost
      requestBody:
        $ref: '#/components/requestBodies/OrdersActionsStopMarketTVWarp'
      parameters:
        - $ref: '#/components/parameters/header_X-REQID'
        - $ref: '#/components/parameters/header_X-ALOR-REQID'
      responses:
        '200':
          $ref: '#/components/responses/200_OrderActionLimitMarket_CommandAPI'
        '400':
          $ref: '#/components/responses/400_Post_Put'
        '401':
          $ref: '#/components/responses/401'
      deprecated: false
  /commandapi/warptrans/TRADE/v2/client/orders/actions/stop/{stopOrderId}:
    put:
      tags:
        - StopOrdersV2
      summary: 'Изменить стоп-заявку'
      description: |
        Запрос создаёт новую [стоп-заявку](https://alor.dev/docs/api/usage/orders/stop-orders) с изменёнными характеристиками, автоматически отменив созданную ранее. Для определения отменяемой заявки используется её номер в параметре `orderid`.

        Запрос нельзя выполнить анонимно. Обязательный параметр `token` должен содержать актуальный [**Access токен**](https://alor.dev/docs/api/access/authorization/access-token/).

        В описании запроса по умолчанию используется адрес тестового контура системы. Это сделано для защиты пользователей от случайного выполнения операций с настоящими данными. Учитывайте это при выполнении запросов и копировании образцов кода.

        Сменить контур на странице описания запроса можно в окне **Request**. Узнать подробнее о контурах можно в [соответствующей статье](https://alor.dev/docs/api/access/environments).

        Условные заявки не требуют обеспечения, но выставляемые ими лимитные и рыночные заявки — требуют. Убедитесь, что на момент срабатывания условной заявки в портфеле будет достаточно средств для обеспечения выставляемой биржевой заявки с помощью [запроса на оценку заявки](https://alor.dev/docs/api/http/commandapi-warptrans-trade-v-2-client-orders-estimate-post).

        Для этой операции есть альтернатива в виде [WebSocket-команды](https://alor.dev/docs/api/websocket/commands/UpdateStopOrder).

      operationId: CommandapiWarptransTradeV2ClientOrdersActionsStopStopOrderIdPut
      requestBody:
        $ref: '#/components/requestBodies/OrdersActionsStopMarketTVWarp'
      parameters:
        - $ref: '#/components/parameters/header_X-REQID'
        - $ref: '#/components/parameters/header_X-ALOR-REQID'
        - $ref: '#/components/parameters/path_StopOrderId'
      responses:
        '200':
          $ref: '#/components/responses/200_OrderActionLimitMarket_CommandAPI'
        '400':
          $ref: '#/components/responses/400_Post_Put'
        '401':
          $ref: '#/components/responses/401'
      deprecated: false
  /commandapi/warptrans/TRADE/v2/client/orders/actions/stopLimit/{stopOrderId}:
    put:
      tags:
        - StopOrdersV2
      summary: 'Изменить стоп-лимитную заявку'
      description: |
        Запрос создаёт новую [стоп-лимитную заявку](https://alor.dev/docs/api/usage/orders/stop-orders) с изменёнными характеристиками, автоматически отменив созданную ранее. Для определения отменяемой заявки используется её номер в параметре `orderid`.

        Запрос нельзя выполнить анонимно. Обязательный параметр `token` должен содержать актуальный [**Access токен**](https://alor.dev/docs/api/access/authorization/access-token/).

        В описании запроса по умолчанию используется адрес тестового контура системы. Это сделано для защиты пользователей от случайного выполнения операций с настоящими данными. Учитывайте это при выполнении запросов и копировании образцов кода.

        Сменить контур на странице описания запроса можно в окне **Request**. Узнать подробнее о контурах можно в [соответствующей статье](https://alor.dev/docs/api/access/environments).

        Условные заявки не требуют обеспечения, но выставляемые ими лимитные и рыночные заявки — требуют. Убедитесь, что на момент срабатывания условной заявки в портфеле будет достаточно средств для обеспечения выставляемой биржевой заявки с помощью [запроса на оценку заявки](https://alor.dev/docs/api/http/commandapi-warptrans-trade-v-2-client-orders-estimate-post).

        Для этой операции есть альтернатива в виде [WebSocket-команды](https://alor.dev/docs/api/websocket/commands/UpdateStopLimitOrder).

      operationId: CommandapiWarptransTradeV2ClientOrdersActionsStopLimitStopOrderIdPut
      requestBody:
        $ref: '#/components/requestBodies/OrdersActionsStopLimitTVWarpPut'
      parameters:
        - $ref: '#/components/parameters/header_X-REQID'
        - $ref: '#/components/parameters/header_X-ALOR-REQID'
        - $ref: '#/components/parameters/path_StopOrderId'
      responses:
        '200':
          $ref: '#/components/responses/200_OrderActionLimitMarket_CommandAPI'
        '400':
          $ref: '#/components/responses/400_Post_Put'
        '401':
          $ref: '#/components/responses/401'
      deprecated: false
  /commandapi/warptrans/TRADE/v2/client/orders/{orderId}:
    delete:
      tags:
        - Orders
        - StopOrdersV2
      summary: 'Снять одну заявку'
      description: |
        Запрос снимает выставленную ранее заявку. Для определения отменяемой заявки используется её номер в параметре `orderid`.

        Запрос нельзя выполнить анонимно. Обязательный параметр `token` должен содержать актуальный [**Access токен**](https://alor.dev/docs/api/access/authorization/access-token/).

        В описании запроса по умолчанию используется адрес тестового контура системы. Это сделано для защиты пользователей от случайного выполнения операций с настоящими данными. Учитывайте это при выполнении запросов и копировании образцов кода.

        Сменить контур на странице описания запроса можно в окне **Request**. Узнать подробнее о контурах можно в [соответствующей статье](https://alor.dev/docs/api/access/environments).

        Для этой операции есть альтернатива в виде WebSocket-команд для [рыночных](https://alor.dev/docs/api/websocket/commands/DeleteMarketOrder), [лимитных](https://alor.dev/docs/api/websocket/commands/DeleteLimitOrder), [стоп-](https://alor.dev/docs/api/websocket/commands/DeleteStopOrder) и [стоп-лимитных](https://alor.dev/docs/api/websocket/commands/DeleteStopLimitOrder) заявок.

      operationId: CommandapiWarptransTradeV2ClientOrdersOrderIdDelete
      parameters:
        - $ref: '#/components/parameters/path_OrderId'
        - $ref: '#/components/parameters/query_Portfolio_FOND_Required'
        - $ref: '#/components/parameters/query_Exchange_MoexOnly_Required'
        - $ref: '#/components/parameters/query_Stop_Required'
        - $ref: '#/components/parameters/query_JsonResponse_Optional'
        - $ref: '#/components/parameters/query_Format_Optional'
      responses:
        '200':
          description: 'Запрос успешно обработан'
          content:
            text/plain:
              schema:
                allOf:
                  - $ref: '#/components/schemas/field_Message'
                  - example: success
              examples:
                Пример:
                  $ref: '#/components/examples/MessageSuccessCommonText'
        '400':
          description: Не удалось выполнить запрос. Проверьте синтаксис запроса и корректность заданных значений
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: 'OrderToCancelNotFound (404)'
                    description: 'Тип ошибки'
                  message:
                    allOf:
                      - $ref: '#/components/schemas/field_Message'
                      - example: Order to cancel not found
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
      deprecated: false
  /commandapi/warptrans/TRADE/v2/client/orders/all:
    delete:
      tags:
        - Orders
        - StopOrdersV2
      summary: 'Снять все заявки'
      description: |
        Запрос снимает все биржевые и/или условные заявки для указанного портфеля.

        Запрос нельзя выполнить анонимно. Обязательный параметр `token` должен содержать актуальный [**Access токен**](https://alor.dev/docs/api/access/authorization/access-token/).

        В описании запроса по умолчанию используется адрес тестового контура системы. Это сделано для защиты пользователей от случайного выполнения операций с настоящими данными. Учитывайте это при выполнении запросов и копировании образцов кода.

        Сменить контур на странице описания запроса можно в окне **Request**. Узнать подробнее о контурах можно в [соответствующей статье](https://alor.dev/docs/api/access/environments).

      operationId: CommandapiWarptransTradeV2ClientOrdersAllDelete
      parameters:
        - $ref: '#/components/parameters/query_Exchange_All_Required'
        - $ref: '#/components/parameters/query_Portfolio_FOND_Required'
        - $ref: '#/components/parameters/query_Stop_Optional'
      responses:
        '200':
          description: 'Запрос успешно обработан'
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/field_Message'
                  - example: success
              examples:
                Пример:
                  $ref: '#/components/examples/MessageSuccessCommonText'
        '400':
          description: Не удалось выполнить запрос. Проверьте синтаксис запроса и корректность заданных значений
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: 'OrderToCancelNotFound'
                    description: 'Тип ошибки'
                  message:
                    allOf:
                      - $ref: '#/components/schemas/field_Message'
                      - example: Orders to cancel not found
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
      deprecated: false
  /commandapi/api/orderGroups:
    get:
      tags:
        - OrderGroups
      summary: 'Все группы заявок'
      description: |
        Запрос возвращает список групп заявок для логина, выписавшего токен

        Запрос нельзя выполнить анонимно. Обязательный параметр `token` должен содержать актуальный [**Access токен**](https://alor.dev/docs/api/access/authorization/access-token/).

        В описании запроса по умолчанию используется адрес тестового контура системы. Это сделано для защиты пользователей от случайного выполнения операций с настоящими данными. Учитывайте это при выполнении запросов и копировании образцов кода.

        Сменить контур на странице описания запроса можно в окне **Request**. Узнать подробнее о контурах можно в [соответствующей статье](https://alor.dev/docs/api/access/environments).

      operationId: CommandapiApiOrderGroupsGet
      responses:
        '200':
          $ref: '#/components/responses/200_OrderGroups_Info'
        '400':
          $ref: '#/components/responses/400_OrderGroup_Creation'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
      deprecated: false
    post:
      tags:
        - OrderGroups
      summary: 'Создать группу заявок'
      description: |
        Создание группы заявок на основе уже созданных заявок

        Запрос нельзя выполнить анонимно. Обязательный параметр `token` должен содержать актуальный [**Access токен**](https://alor.dev/docs/api/access/authorization/access-token/).

        В описании запроса по умолчанию используется адрес тестового контура системы. Это сделано для защиты пользователей от случайного выполнения операций с настоящими данными. Учитывайте это при выполнении запросов и копировании образцов кода.

        Сменить контур на странице описания запроса можно в окне **Request**. Узнать подробнее о контурах можно в [соответствующей статье](https://alor.dev/docs/api/access/environments).

      operationId: CommandapiApiOrderGroupsPost
      requestBody:
        $ref: '#/components/requestBodies/OrderGroupCreate'
      responses:
        '200':
          $ref: '#/components/responses/200_OrderGroup_Creation'
        '400':
          $ref: '#/components/responses/400_OrderGroup_Creation'
        '401':
          $ref: '#/components/responses/401'
      deprecated: false
  /commandapi/api/orderGroups/{orderGroupId}:
    get:
      tags:
        - OrderGroups
      summary: 'Выбранная группа заявок'
      description: |
        Запрос возвращает информацию об определённой группе заявок, идентификатор которой указан в параметре `orderGroupId`

[...]
